<!DOCTYPE html>
<html lang="id" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">ITAdventure</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

<!--    <style th:replace="~{/shared/style}"></style>-->
    <th:block th:replace="shared/style"></th:block>

</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

<!--    <div th:replace="~{/shared/header}"></div>-->

<!--    <div th:replace="~{/shared/menu}"></div>-->

    <th:block th:replace="shared/header"></th:block>
    <th:block th:replace="shared/menu"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div layout:fragment="content">


        </div>
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="shared/footer"></th:block>
    <th:block th:replace="shared/script"></th:block>

    <div layout:fragment="script">

    </div>

</div>


</body>
</html>
